body {
	background-color: #ccc;
}

.media-container {
	position: relative;
	width: 600px;
	height: 400px;
	background-color: #000;
}

#media-image, #media-video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#media-image {
}

#media-video {
}
